* {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  border-color: black;
  border-size: 2px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color:#F5ECD8;
}

ul {
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  list-style-type: none;
}

header {
 background-image: url("https://preview.ibb.co/eU261w/IMG_20180119_175222.jpg");
}

.main {
}

.welcome {
  text-align: center;
}

.welcome p {
}

.Articles {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}

img {
  max-height: 50px;
  max-width: 50px;
}

